@page
@model AggiungiProdottoModel
@{
    ViewData["Title"] = "AggiungiProdotto";
}

<h1>@ViewData["Title"]</h1>

<div class="row g-3 needs-validation" novalidate>

    <form method="post" >

    <div class="form-group">
    <label asp-for="nome">Nome
    <input type="text" asp-for ="nome" class="form-control" placeholder="Inserisci nome articolo" required ></label>
    <span asp-validation-for="nome" class="text-danger">  </span>
    
    </div>

    <div class="form-group">
    <label for="formGroupExampleInput2">Descrizione
    <input type="text" name ="dettaglio" class="form-control" id="formGroupExampleInput2" placeholder="Inserisci una breve descrizione" ></label>
    </div>

    <div class="form-group">
    <label for="formGroupExampleInput3">Prezzo
    <input type="text" name ="prezzo" class="form-control" id="formGroupExampleInput3" placeholder="Inserisci il prezzo dell'articolo" ></label>
    </div>


    <div class="form-group">
            <label for="formFile" class="form-label">URL Immagine Prodotto:</label>
            <input class="form-control" type="file" id="formFile" name="immagine"   />
    </div>

    <div class="form-group mb-3">
                    <label for="categoria">Categoria</label>
                    <select class="form-select" name="categoria" >
                        <option value="" disabled selected>Seleziona Categoria</option>
                        @foreach (var categoria in Model.Categorie)
                        {
                            <option value="@categoria">@categoria</option>
                        }
                    </select>
    </div>

 <div class="form-group mb-3 mt-3">
                    <label asp-for="Codice">
                        <input asp-for="Codice" class="form-control" placeholder="Inserisci codice segreto"/>
                        <span asp-validation-for="Codice" class="text-danger"></span>
                    </label>
                </div>

    <button type="submit" class ="btn btn-dark">Aggiungi</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</div>