@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header class="hero d-flex align-items-center">
        <div class="container hero-content text-center">
            <h1 class="display-4"><strong>Carinerie Jewels</strong></h1>
            <p class="lead">Luce alle emozioni</p>
            <a asp-page="Prodotti"  class="btn btn-outline-dark">
                            Acquista ora</a>
        </div>
    </header>
